Statement/Vintage/.ipynb_checkpoints/report-checkpoint.ipynb
Statement/Vintage/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Statement/Vintage/repay_actual_data_new.csv
Statement/Vintage/repay_plan_data_new.csv
Statement/Vintage/Vintage报表(3)：Python代码实操V1.2.ipynb
Statement/Vintage/借据表和还款计划表形式.xlsx
__pycache__/common.cpython-312.pyc
__pycache__/common.cpython-312.pyc
Statement/Migration Rate Statement/migration_rate.ipynb
Statement/Migration Rate Statement/repay_actual_data_new.csv
Statement/Migration Rate Statement/repay_plan_data_new.csv
Statement/Migration Rate Statement/迁徙率报表(1)：理论介绍.pdf
__pycache__/common.cpython-312.pyc
